@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;

    &__enlace {
        color: v.$negro;
        font-size: 2rem;
        font-weight: v.$delgada;

        &--confirmar {
            all: unset;
            @include m.boton(v.$azul, v.$blanco);
        }
    }

    &--centrar {
        @extend .acciones;
        justify-content: center;
    }
}