//Con el _ al inicio del nombre se indica que no se hara una hora jde estilos propia de este scss

//Colores

$verde: #4CB8B3;
$rosa: #F53756; 
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//Tipo de letra

$fuentePrincipal: 'Montserrat', sans-serif;