@use "base/variables" as v;

.citas {
    list-style: none;
    padding: 0;
    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;
        p {
            font-weight: v.$bold;
            color: v.$azul
        }

        span,
        .servicio {
            font-weight: v.$regular;
            color: v.$blanco;
        }
    } 

    .total {
        font-weight: v.$bold;
        color: v.$azul;

        span {
            font-weight: v.$regular;
            color: v.$blanco;
        }
    }
}

.servicios{
    @extend .citas; //Se heredan las caracteristicas del que extiende

    .acciones {
        margin: 0;
        justify-content: space-between;
        align-items: baseline;
    }

    .boton-eliminar {
        margin: 0;
    }
}