@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        background-image: url(/build/img/1.jpg);
        background-size: cover;
        background-position: center center;
        height: 20rem;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
    }
}